* {
  box-sizing: border-box; }

a {
  text-decoration: none;
  display: inline-block; }

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0; }

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px; }

body {
  font-family: "PT Serif", serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #5e5e5e; }

.default-btn {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
  padding: 8px 30px 8px 24px;
  border: 1px solid #ffc222;
  border-right-width: 20px;
  position: relative;
  outline: none; }
  .default-btn:after {
    font-family: "icomoon" !important;
    content: "\f105";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -12px;
    color: #fff; }

.services__top,
.news__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px; }

.services__title-box,
.form__title-box,
.news__title-box {
  max-width: 520px;
  padding-left: 140px;
  position: relative; }

.services__title-box:before,
.form__title-box:before,
.news__title-box:before {
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #ffc222;
  top: 11px;
  left: 0; }

.services__title,
.form__title,
.news__title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  color: #212020;
  margin-bottom: 10px; }

.services__text,
.form__text,
.news_text {
  letter-spacing: 0.1px; }

.header {
  font-family: "Roboto", sans-serif; }
  .header__btn-menu {
    display: none;
    font-size: 32px;
    cursor: pointer;
    color: #1b1b1b; }
  .header__top {
    background-color: #303030; }
  .header__contacts:after {
    content: "";
    clear: both;
    display: block; }
  .header__phone, .header__email {
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative; }
  .header__phone {
    padding-left: 20px;
    padding-right: 30px; }
    .header__phone:before {
      font-family: "icomoon" !important;
      content: "\f095";
      position: absolute;
      left: 0;
      color: #ffc222; }
  .header__email {
    padding-left: 24px; }
    .header__email:before {
      font-family: "icomoon" !important;
      content: "\f003";
      position: absolute;
      left: 0;
      color: #ffc222; }
  .header__btn {
    float: right;
    line-height: 36px;
    font-size: 16px;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    position: relative; }
    .header__btn:before {
      font-family: "icomoon" !important;
      content: "\f0b1";
      position: absolute;
      left: 22px;
      color: #1b1b1b; }
  .header__logo img {
    width: 50px;
    height: auto; }
  .header__content {
    padding: 7px 0; }
    .header__content-inner {
      display: flex;
      justify-content: space-between; }

.menu {
  margin-top: 10px; }
  .menu li {
    display: inline-block; }
  .menu a {
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0 16px;
    transition: all 0.3s; }
  .menu a:hover {
    border-color: #ffc222; }
  .menu li + li {
    padding-left: 10px; }

#modal {
  display: none; }

.slider {
  background-image: url("../img/banner-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
  position: relative; }
  .slider:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4); }
  .slider_inner {
    position: relative; }
  .slider__item {
    outline: none; }
    .slider__item-content {
      max-width: 665px;
      text-align: center;
      padding-top: 110px;
      margin: 0 auto; }
  .slider__title {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #fff;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px; }
  .slider__text {
    line-height: 24px;
    font-size: 18px;
    color: #d3d2d2;
    margin-bottom: 50px; }
  .slider__btn {
    color: #ffffff; }

.slick-btn {
  position: absolute;
  top: 70%;
  z-index: 3;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: #ffc222;
  outline: none;
  cursor: pointer; }
  .slick-btn:before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff; }

.slick-btn.slick-disabled {
  cursor: default;
  background-color: transparent; }

.slick-next {
  right: 0; }
  .slick-next:before {
    font-family: "icomoon" !important;
    content: "\f105"; }

.slick-prev {
  left: 0; }
  .slick-prev:before {
    font-family: "icomoon" !important;
    content: "\f104"; }

.services {
  padding: 50px 0 30px; }
  .services-text {
    letter-spacing: 0.1px; }
  .services__btn a {
    color: #373636;
    line-height: 24px;
    letter-spacing: 0.25px;
    padding: 5px 38px;
    border: 3px solid #e6e6e6; }
  .services__items {
    display: flex;
    justify-content: space-between; }
  .services__item {
    max-width: 360px;
    min-height: 375px;
    text-align: center;
    padding: 30px 0 80px;
    position: relative;
    background-color: #f9f9f9;
    box-shadow: 0 7px 24px 3px rgba(91, 89, 89, 0.14); }
    .services__item-title {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      line-height: 24px;
      font-weight: 500;
      color: #212020;
      padding: 24px 35px; }
    .services__item-text {
      letter-spacing: 0.1px;
      padding: 0 30px 30px; }
    .services__item-btn {
      position: absolute;
      bottom: 40px;
      left: 0;
      right: 0; }
    .services__item-btn .default-btn {
      color: #373636; }
    .services__item-btn .default-btn:after {
      color: #fff; }
    .services__item-link {
      font-family: "Roboto", sans-serif;
      color: #050505;
      border-bottom: 1px solid #050505;
      margin-right: 60px; }

.about {
  background-image: url("../img/about-background.jpg");
  background-size: cover;
  background-position: center;
  min-height: 300px;
  background-repeat: no-repeat;
  padding: 25px 0 45px;
  position: relative; }
  .about:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3); }
  .about-inner {
    max-width: 545px;
    position: relative;
    z-index: 1; }
  .about__title {
    font-family: "Roboto", sans-serif;
    font-size: 24px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 20px;
    padding: 10px 0 25px; }
  .about__text {
    margin-bottom: 30px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #fff; }
  .about__btn {
    color: #fff; }
    .about__btn:after {
      color: #000; }

.form {
  padding-top: 30px; }
  .form-inner {
    padding-bottom: 40px;
    background-image: url("../img/Businessman.png");
    background-size: 250px;
    min-height: 460px;
    background-repeat: no-repeat;
    background-position: bottom right; }
    .form-inner label,
    .form-inner input,
    .form-inner textarea {
      font-family: "Roboto", sans-serif;
      display: block;
      width: 100%; }
    .form-inner label {
      line-height: 36px;
      color: #282828; }
    .form-inner input {
      margin-bottom: 8px;
      outline: none;
      height: 40px;
      border: 1px solid #e6e6e6;
      padding: 0 10px; }
    .form-inner select {
      outline: none;
      padding-left: 17px;
      background-color: #fff; }
    .form-inner textarea {
      outline: none;
      border: 1px solid #e6e6e6;
      padding: 10px;
      height: 207px;
      resize: none;
      margin-bottom: 43px; }
  .form__box {
    max-width: 850px;
    padding-top: 45px; }
    .form__box-inner {
      display: flex;
      justify-content: space-between; }
      .form__box-inner button {
        background-color: #ffffff;
        float: right; }
        .form__box-inner button:after {
          color: #282828; }
    .form__box-left {
      max-width: 260px;
      width: 100%; }
    .form__box-right {
      max-width: 555px;
      width: 100%; }

.form__box-inner .jq-selectbox.jqselect {
  display: block;
  width: 100%; }

.form__box-inner .jq-selectbox__select {
  height: 40px;
  border: 1px solid #e6e6e6;
  padding-left: 17px; }

.form__box-inner .jq-selectbox__trigger-arrow:before {
  font-family: "icomoon" !important;
  content: "\f105";
  position: absolute;
  right: 17px;
  top: 0;
  transform: rotate(90deg); }

.form__box-inner .jq-selectbox__dropdown {
  width: 100%;
  margin: 2px 0 0;
  padding: 0;
  border: 1px solid #e6e6e6;
  background: #fff; }

.form__box-inner .jq-selectbox li {
  min-height: 18px;
  padding: 5px 17px 6px;
  color: #231f20; }

.form__box-inner .jq-selectbox li.selected {
  background-color: #a3abb1;
  color: #fff; }

.form__box-inner .jq-selectbox li:hover {
  background-color: #08c;
  color: #fff; }

.form__box-inner .jq-selectbox li.disabled {
  background-color: #aaa; }

.form__box-inner .jq-selectbox li.disabled:hover {
  background: none; }

.form__box-inner .jq-selectbox li.optgroup {
  font-weight: bold; }

.form__box-inner .jq-selectbox li.optgroup:hover {
  background: none;
  color: #231f20;
  cursor: default; }

.form__box-inner .jq-selectbox li.option {
  padding-left: 25px; }

.advantages {
  background-image: url("../img/advantages-background.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 285px;
  padding: 55px 0 40px;
  position: relative; }
  .advantages:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3); }
  .advantages__inner {
    position: relative;
    z-index: 1;
    color: #fff;
    display: flex;
    justify-content: space-between;
    text-align: center; }
  .advantages__item {
    max-width: 360px;
    padding: 0 20px; }
  .advantages__title {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    padding: 60px 0 15px;
    position: relative; }
    .advantages__title:before {
      content: " ";
      position: absolute;
      width: 40px;
      height: 40px;
      border: 2px solid #ffc222;
      left: 50%;
      top: 0;
      transform: translateX(-50%); }
    .advantages__title:after {
      font-family: "icomoon" !important;
      content: "\f00c";
      font-size: 14px;
      position: absolute;
      top: 9px;
      left: 50%;
      transform: translateX(-50%); }
  .advantages__text {
    line-height: 24px;
    color: #fff;
    letter-spacing: 0.1px; }

.news {
  padding: 55px 0 110px;
  background-color: #f9f9f9; }
  .news__images {
    position: relative; }
    .news__images img {
      width: 260px;
      height: 190px; }
  .news__date {
    position: absolute;
    background-color: #ffc222;
    width: 50px;
    height: 55px;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    font-weight: 700;
    top: 0;
    left: 10px; }
  .news__inner {
    display: flex;
    justify-content: space-between; }
  .news__slider {
    max-width: 555px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 15px 1px rgba(128, 127, 127, 0.13);
    padding: 60px 35px 45px 70px;
    position: relative; }
    .news__slider:before {
      font-family: "icomoon" !important;
      position: absolute;
      content: "\f10e";
      width: 65px;
      height: 30px;
      font-size: 16px;
      color: #fff;
      text-align: center;
      line-height: 30px;
      background-color: #ffc222;
      top: 0;
      left: 70px; }
    .news__slider-title {
      font-family: "Roboto", sans-serif;
      font-size: 18px;
      line-height: 24px;
      color: #242424;
      font-weight: 500;
      letter-spacing: 0.5px;
      margin-bottom: 15px; }
    .news__slider-text {
      padding-bottom: 30px; }
    .news__slider-author {
      font-family: "Roboto", sans-serif;
      color: #242424;
      letter-spacing: 0.1px;
      font-weight: 500; }
  .news__blog {
    max-width: 260px;
    width: 100%; }
    .news__blog-title {
      font-family: "Roboto", sans-serif;
      font-size: 16px;
      font-weight: 500;
      color: #242424;
      letter-spacing: 0.5px;
      padding: 12px 0; }
    .news__blog-text {
      letter-spacing: 0.1px;
      color: #5e5e5e; }

.news__slider-inner .slick-btn {
  top: auto;
  bottom: -110px;
  right: -35px; }

.news__slider-inner .slick-next {
  right: -35px; }

.news__slider-inner .slick-prev {
  right: 20px;
  left: auto; }

.news__slider-inner .slick-disabled {
  color: #dadada;
  border-color: #dadada; }

.news__slider-inner .slick-disabled:before {
  color: #dadada; }

.footer__content {
  background-color: #595959;
  padding: 20px 0 30px; }

.footer__inner {
  display: flex;
  justify-content: space-between; }

.footer__info {
  max-width: 360px; }

.footer__title {
  font-family: "Roboto", sans-serif;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.5px; }

.footer__text {
  color: #d3d2d2;
  margin-bottom: 20px; }

.footer__map {
  padding-top: 10px;
  max-width: 630px;
  width: 100%; }
  .footer__map iframe {
    width: 100%; }

.footer__list {
  padding-top: 10px; }
  .footer__list li {
    margin-top: 10px; }
  .footer__list a {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.25px;
    font-weight: 400;
    color: #fff;
    padding-left: 33px;
    position: relative; }

.footer__copy {
  font-family: "Roboto", sans-serif;
  background-color: #303030;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  padding: 8px 0;
  font-weight: 400; }

.footer__inner .header__btn {
  float: none;
  display: inline-block; }

.footer__list a:before {
  font-family: "icomoon" !important;
  position: absolute;
  left: 0;
  color: #ffc222; }

.footer__email:before {
  content: "\f003"; }

.footer__phone:before {
  content: "\f095";
  left: 3px; }

.footer__address:before {
  content: "\f041";
  left: 3px; }

#modal {
  width: 300px; }
  #modal input {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    display: block;
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    outline: none;
    border: 1px solid #e6e6e6;
    padding: 0 10px; }
  #modal input[type="submit"] {
    background-color: #ffc222;
    border: none; }
